body{
	margin: 0;
	padding: 0;
	background: url("images/OystrBackgroundClear.png");
	/* overflow: hidden; */
}
canvas{
   border: 1px dotted #f06;
   z-index: 1;
   margin-left: auto;
   margin-right: auto;
}
#reference{
	display: none;
}
#dirtyReference{
	display: none;
}
#side{
	background: black;
	width: 128px;
	height: 563px;
	position: absolute;
	top: 0px;
	left: 514px;
	color: white;
	font-size: 32px;
}
#POW{
	padding-top: 30px;
	position: absolute;
	top: 560px;
	background: black;
	width: 642px;
	height: 128px;
	color: white;
	font-size: 32px;
}
#wisdom{
	display: inline;
	font-size: 16px;
}